<!-- HEADER -->
<header id="header">
  <div class="flex">
    <div class="row mx-0">
      <div class="col py-2">
        <a href="/admin/dashboard" class="text-dark text-decoration-none">
          <img src="/static/img/logoschool.png" alt="" height="62" />
          School Manager
        </a>
      </div>
      <div class="col-auto d-flex align-items-center">
        <div class="d-flex">
          <p class="m-0 pt-2 px-2">Xin chào Administrator !</p>
          <a class="btn btn-primary" href="/admin/logout" role="button"
            >Đăng xuất</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
