<div class="container fix-mar1">
  <div class="row">
    <div class="col">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <% result?.sliders?.docs?.forEach((slider, index) => { %>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= slider?.position - 1 %>" <% if (slider?.position == 1) { %> class="active" <% } %> aria-current="true" aria-label="<%= slider?.image %>"></button>
          <% }) %>
        </div>
        <div class="carousel-inner">
          <% result?.sliders?.docs?.forEach((slider, index) => { %>
          <div class="carousel-item 
            <% if (slider?.position == 1) { %>
                active
              <% } %>
            ">
            <img src="http://localhost:8080/static/img/<%= slider.image %>" class="d-block w-100" alt="<%= slider?.image %>" />
          </div>
          <% }) %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>